body {
    font-family: "Montserrat";
    font-weight: 500;
}

h1 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.btn-outline-light btn-lg {
    margin: 0px 40px;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem ;
    font-family: "Montserrat";
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.dnd-btn{
    margin: 7% 3% 2% 0%;
}

/* Image */

.tittle-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem ;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-box {
    text-align: center;
    padding: 4.25%;
}

/* Testimonial section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;

}

.test-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 30px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 7% 15%;
}

.pricing-header {
    margin-bottom: 4% ;
}

@media (max-width: 1020px) {
    
    #title {
        text-align: center;
    }
    
    .tittle-image {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    padding: 7% 15%;
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
}

.cta-title {
    margin-bottom: 30px;
}

#footer {
    padding: 7% 15%;
    background-color: #fff;
    text-align: center;
    line-height: 4;
}


